
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "RoleList";
}

<h2>RoleList</h2>

@Html.ActionLink("Create New Role", "CreateRole", "Role")
<table class="table">
    <thead>
        <tr>
            <td>
                Role Name
            </td>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>
